.partnerships {

  .partners-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;

    .partner {

      & img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .partners-grid {
    grid-template-columns: repeat(auto-fill, 100%) !important;
  }
}
