.prizes {
  padding: 15px;
  margin: 10vh 0;

  .card-swiper {
    border: 2px solid #378cf7;
    background-color: white;

    border-radius: 5px;

    text-align: center;
  }

  .img-swipe {
    margin-top: 15px;
    width: 80%;
    border-radius: 5px 5px 5px 5px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  h3 {
    font-weight: 500;
  }

  p {
    font-size: 0.9em;
  }
}
