.speakers {

  .speaker-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 50px;
    margin-top: 30px;

    .speaker {
      text-align: center;

      & img {
        border-radius: 50%;
        width: 100%;
      }

      & h3 {
        margin-top: 15px;
      }

      & p {
        margin-bottom: 0;
      }
    }
  }
}
