.sponsors {
  .sponsors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    align-items: center;

    .sponsor {
      & img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .sponsors-grid {
    grid-template-columns: repeat(auto-fill, 100%) !important;
  }
}
