.tracks {
  background-color: $color-primary;

  & * {
    color: white;
  }

  .track-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;

    .track {
      text-align: center;

      & img {
        width: 50%;
      }
    }
  }
}
