.tracks {
  background-color: $color-primary;

  & * {
    color: white;
  }

  .track-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;

    .track {
      background-color: white;
      text-align: center;
      width: 100%;
      padding: 30px 15px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(0,0,0,.1);
      cursor: pointer;
      transition: all .2s;

      &:hover {
        box-shadow: 0 15px 40px rgba(0,0,0,.2);
        transform: translateY(-5px);
      }

      & img {
        width: 50%;
      }

      & p {
        width: 75%;
        margin: 0 auto;
      }

      & * {
        color: black;
      }
    }
  }
}

@media (max-width: 600px) {
  .track-grid {
    grid-template-columns: repeat(auto-fill, 100%) !important;

    .track {

      & p {
        width: 100% !important;
      }
    }
  }
}
