.accordion {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.2s;

  & h4 {
    margin-bottom: 0;

    &:after {
      content: "\02795";
      font-size: 1.5rem;
      color: #888;
      float: right;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left: 25px;

  & p {
    border-left: 2px solid rgb(26, 129, 143);
    margin-bottom: 0;
    padding-left: 25px;
  }
}
