.header {
  background-color: lightblue;
  text-align: center;

  & div {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 25px 0;

    & div {
      width: 90%;
    }
  }
}
