.header {
  position: relative;
  background-color: transparent;
  text-align: center;
  background-color: #f7f7f7;

  & div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    margin: 0 auto;
  }

  & * {
    color: black;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 25px 0;

    & div {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      width: 90%;
    }
  }
}
