.team {

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    margin-top: 15px;

    .member {
      text-align: center;

      & img {
        width: 75%;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid $color-primary;
        margin-bottom: 15px;
      }
    }
  }
}
